.nav {

  /* Estilos para la barra de navegación */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
  }

  .menu {
    display: flex;
    list-style: none;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu a {
    color: #000;
    text-decoration: none;
  }

  /* Estilos para la barra de navegación en dispositivos móviles */
  @media (max-width: 768px) {
    .menu {
      display: none;
    }

    .toggle {
      display: block;
      cursor: pointer;
    }

    .bars {
      display: block;
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 5px 0;
    }

    .toggle.active .bars:nth-child(2) {
      opacity: 0;
    }

    .toggle.active .bars:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .toggle.active .bars:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }


}

.section-cod {

  /* Estilos para el botón de copiar */
  .copy-button {
    background-color: #1c6d70;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

  /* Estilos para el botón de copiar al pasar el cursor por encima */
  .copy-button:hover {
    background-color: #155468;
  }

  /* Estilos para la sección del código */
  section {
    position: relative;
    margin-bottom: 30px;
  }

  /* Estilos para el botón de copiar */
  .copy-button {
    position: absolute;
    top: 0;
    right: 0;
  }

}

h1 {
  text-align: center;
  font-size: 30px;
}

.section-article {
  pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    font-size: 1.3em;
    line-height: 1.5;
    white-space: pre-wrap;
    text-align: justify;
  }
}