:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --grisFuente: rgb(189, 189, 189);
    --blanco: #ffffff;
    --negro: #000000;

    /*Colores Palet*/
    --azulGris: #3f515a;
    --azulOscruro: #182a34;
    --azulCeleste: #4d7187;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

/* Nav*/
.nav {

   .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
    }

    .navbar a {
        color: #fff;
        text-decoration: none;
    }

    .navbar-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-menu li {
        margin-left: 20px;
    }

    .navbar-toggle {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar-menu {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            background-color: #333;
            box-sizing: border-box;
        }

        .navbar-toggle {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;
            outline: none;
            z-index: 999;
        }

        .navbar-toggle:focus {
            outline: none;
        }

        .navbar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            margin: 4px 0;
            background-color: #fff;
            transition: all 0.2s;
        }

        .navbar-toggle.active .icon-bar:first-child {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .navbar-toggle.active .icon-bar:nth-child(2) {
            opacity: 0;
        }

        .navbar-toggle.active .icon-bar:last-child {
            transform: rotate(-45deg) translate(5px, -5px);
        }

        .navbar-menu.active {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            opacity: 0;
            animation: slideIn 0.5s ease-in-out forwards;
        }

        .navbar-menu.active li {
            margin: 10px 0;
            text-align: center;
        }

        @keyframes slideIn {
            from {
                margin-top: 20px;
                opacity: 0;
            }

            to {
                margin-top: 50px;
                opacity: 1;
            }
        }
    }
}

/* End Nav*/

/* Section-Cover */
.section-cover {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/src/img/cover.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;

    height: 70vh;
    margin-bottom: 50px;
    border-style: solid;
    user-select: none;

    .title-cover {
        padding-top: 150px;

        h3 {
            text-align: center;
            font-weight: 700;
            color: rgb(189, 189, 189);
            font-size: 8vw;
        }

        @media screen and (min-width: 768px) {
            h3 {
                font-size: 3.2rem;
                /* Tamaño de fuente fijo para pantallas de al menos 768px de ancho */
            }
        }

    }
}

/* End Section-Cover*/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    height: auto;

    h3 {
        font-size: 30px;
    }

    @media screen and (min-width: 768px) {
        h3 {
            font-size: 3.2rem;
            /* Tamaño de fuente fijo para pantallas de al menos 768px de ancho */
        }
    }

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.sidebar {

    padding-top: 35px;

    h3 {
        font-size: 30px;
        line-height: 35px;
    }

    @media screen and (min-width: 768px) {
        h3 {
            font-size: 2.4rem;
            /* Tamaño de fuente fijo para pantallas de al menos 768px de ancho */
        }
    }


.widget-curso {
    margin-bottom: 2rem;
    margin-left: 20px;
    margin-top: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 1.8rem;
    font-weight: 600;
    a{
        color: #007e77;
    }
}


}


/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
    font-size: 50px;
}


.barra {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    margin-bottom: 5rem;
    box-shadow: 0px 10px 20px #000000;
    padding: 15px;
    background-color: var(--azulCeleste);
    color: var(--blanco);

    h4 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    p {
        font-size: 28px;
        color: var(--grisFuente);
        line-height: 30px;
        margin-bottom: 10px;
    }
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}

.boton:hover {
    cursor: pointer;
    color: #4d7187;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}


/* Section Footer*/
.section-footer {
    margin-top: 50px;

    h5 {
        text-align: center;
        background-color: var(--negro);
        color: var(--blanco);
        font-size: 25PX;
    }
}
/*End Section Footer*/